<!DOCTYPE html>
<html>
<head>
<title>Mesh viewer</title>
<link type='text/css' rel='stylesheet' href='../css/style.css'>
<style>
html, body {
    overflow: hidden;
}
#display {
    height: 100%;
}
#fileChoose {
    margin-top: -150px; margin-left: -150px;
}
</style>
<!-- Third parties -->
<script type='text/javascript' src='../ext/X/xtk.js'></script>
<script type='text/javascript' src='../ext/X/xtk_xdat.gui.js'></script>

<!-- Local sources -->
<script type='text/javascript' src='../src/browser.js'></script>
<script type='text/javascript' src='../src/gui.js'></script>
<script type='text/javascript' src='../src/math.js'></script>
<script type='text/javascript' src='../src/mesh.js'></script>

<!--<script type='text/javascript' src='../ext/X/lib/google-closure-library/closure/goog/base.js'></script>
<script type='text/javascript' src='../ext/X/xtk-deps.js'></script>-->

<script type='text/javascript'>
/*goog.require('X.renderer3D');
goog.require('X.scalars');
goog.require('X.mesh');*/

/**
* Window Onload: check webgl support and setup.
*/
window.onload = function() {
    // check webGL
    var message = {};
    if ( !dbv.browser.checkWebGL(message) ) {
        dbv.gui.displayMessage(message);
        return;
    }
    // either load files from URI or show file box
    var files = dbv.browser.decodeUri(window.location.href, false);
    if ( files.length != 0 ) {
        renderFiles(files);
    }
    else {
        // file choose box
        var div = document.getElementById("fileChoose");
        if ( div ) {
            // show the box
            dbv.gui.hideFileChoose(false);
            // handle drag/drop
            div.addEventListener("dragover", dbv.gui.onDragOver);
            div.addEventListener("dragleave", dbv.gui.onDragLeave);
            div.addEventListener("drop", dbv.gui.onDrop);
        }
    }
};

/**
* Render the input files.
* @param files The files to render. An array of either paths or File objects.
*/
function renderFiles(files) {
    // remove possible error message
    dbv.gui.removeNode('error');
    // callback to hide the file choose div
    var callback = dbv.gui.hideFileChoose;
    // main renderer
    var renderer = dbv.gui.getRenderer3D('display', [0, -150, 0]);
    // showtime setting
    var showtimeListeners = new dbv.gui.Listeners();
    renderer.onShowtime = function () {
        showtimeListeners.run();
    };
    // gui panel
    var gui = new dat.GUI();
    // mesh translation
    var translation = {'x': 0, 'y': 0, 'z': 0 };

    // render
    try {
        dbv.mesh.addShadersToRenderer(renderer);
        dbv.mesh.render(renderer, files, callback, gui, showtimeListeners, translation);
    }
    catch(error) {
        dbv.gui.displayMessage({'type': 'error', 'text': error.message});
    }
}
</script>
</head>

<body>

<!-- file choose -->
<div id='fileChoose' style="display: none;">
<h1>Mesh web viewer</h1>
<p>Drag and drop<p>
<p>OR</p>
<input type='file' id='inputFile' multiple='false' onchange='dbv.gui.onFileChange(this)'/>
<p>Test:
    <a href='#' onclick="renderFiles(['../data/test/cube.vtk'])">cube</a>,
    <a href='#' onclick="renderFiles(['../data/test/cube-no_normals.vtk'])">cube-wn</a>,
    <a href='#' onclick="renderFiles(['../data/test/cube-bad_binary.vtk'])">cube-bad_binary</a>
</p>
</div>

<!-- main display window -->
<div id='display'></div>

</body>
</html>
